test_cam_path/

# Ignore everything in the dataset directory except the dataset directory itself
dataset/*
!dataset/.gitkeep

output/

__pycache__/

imgui.ini

mip_nerf360_0.sh
mip_nerf360_1.sh
mip_nerf360_2.sh